
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
CMakeCache.txt
CMakeFiles/3.12.0-rc1/CMakeCCompiler.cmake
CMakeFiles/3.12.0-rc1/CMakeCXXCompiler.cmake
CMakeFiles/3.12.0-rc1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.12.0-rc1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.12.0-rc1/CMakeRCCompiler.cmake
CMakeFiles/3.12.0-rc1/CMakeSystem.cmake
CMakeFiles/3.12.0-rc1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.12.0-rc1/CompilerIdC/CompilerIdC.exe
CMakeFiles/3.12.0-rc1/CompilerIdC/CompilerIdC.vcxproj
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CMakeCCompilerId.obj
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.12.0-rc1/CompilerIdCXX/CompilerIdCXX.exe
CMakeFiles/3.12.0-rc1/CompilerIdCXX/CompilerIdCXX.vcxproj
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
CMakeFiles/3.12.0-rc1/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
CMakeFiles/3.12.0-rc1/VCTargetsPath.txt
CMakeFiles/3.12.0-rc1/VCTargetsPath.vcxproj
CMakeFiles/3.12.0-rc1/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
CMakeFiles/5db5be76a1e55e1bf51f4b4d8e1b21aa/generate.stamp.rule
CMakeFiles/5db5be76a1e55e1bf51f4b4d8e1b21aa/INSTALL_force.rule
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/generate.stamp
CMakeFiles/generate.stamp.depend
CMakeFiles/generate.stamp.list
CMakeFiles/TargetDirectories.txt
ImageProcessingHistogram.sln
ImageProcessingHistogram.vcxproj
ImageProcessingHistogram.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.vs/ImageProcessingHistogram/v15/.suo
.vs/ImageProcessingHistogram/v15/Browse.VC.db
.vs/ImageProcessingHistogram/v15/ipch/AutoPCH/57765fa56e64c695/MAIN.ipch
.vs/ImageProcessingHistogram/v15/Solution.VC.db
ALL_BUILD.vcxproj.user
Bin/ImageProcessingHistogram.exe
Bin/ImageProcessingHistogram.ilk
Bin/ImageProcessingHistogram.pdb
contrastreching.png
histogramequalization.png
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/CL.command.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/CL.read.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/CL.write.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/custombuild.command.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/custombuild.read.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/custombuild.write.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/ImageProcessingHistogram.lastbuildstate
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/link.command.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/link.read.1.tlog
ImageProcessingHistogram.dir/Debug/ImagePro.3D35AC3F.tlog/link.write.1.tlog
ImageProcessingHistogram.dir/Debug/ImageProcessingHistogram.log
ImageProcessingHistogram.dir/Debug/Main.obj
ImageProcessingHistogram.dir/Debug/vc141.pdb
ImageProcessingHistogram.vcxproj.user
read.png
x64/Debug/ALL_BUILD/ALL_BUILD.log
x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
x64/Debug/ZERO_CHECK/ZERO_CHECK.log
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
